[Unit]
Description=Mathlib benchmarker
AssertPathExists=/mathlib-bench

[Service]
Type=simple
ExecStart=/usr/bin/mathlib-bench
User=mathlib-bench
Group=mathlib-bench
Restart=always

SystemCallFilter=@system-service
ProtectHome=true
ProtectSystem=full
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
MemoryDenyWriteExecute=true
RestrictSUIDSGID=true
KeyringMode=private
ProtectClock=true
RestrictRealtime=true
PrivateDevices=true
PrivateTmp=true
ProtectHostname=true

[Install]
WantedBy=multi-user.target