[Unit]
Description=mathlib benchmarker frontend

[Service]
Type=simple
ExecStart=/home/mathlib-bench/mathlib-bench-frontend
User=mathlib-bench
Group=mathlib-bench
Restart=always
StandardOutput=journal
StandardError=journal

ProtectSystem=full
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
MemoryDenyWriteExecute=true
RestrictSUIDSGID=true
KeyringMode=private
RestrictRealtime=true
PrivateDevices=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
