[Unit]
Description=Mathlib benchmarker
AssertPathExists=/home/mathlib-bench/root

[Service]
Type=simple
ExecStart=/home/mathlib-bench/mathlib-bench
User=mathlib-bench
Group=mathlib-bench
Restart=always
StandardOutput=journal
StandardError=journal

ProtectSystem=full
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
MemoryDenyWriteExecute=true
RestrictSUIDSGID=true
KeyringMode=private
RestrictRealtime=true
PrivateDevices=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
