table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 0.5em;
}

tr.timing-row-worse {
    background-color: lightcoral;
}

tr.timing-row-better {
    background-color: lime;
}
