table {
    border-collapse: collapse;
}

#timings-table {
    width: 100%;
    min-width: 800px;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 0.5em;
    word-wrap: break-word;
    vertical-align: top;
}

td.per-file-time-cell {
    text-align: right;
}

td.per-file-loc-cell {
    text-aling: right;
}

td.per-file-time-per-loc-cell {
    text-aling: right;
}

tr.timing-row-worse {
    background-color: lightcoral;
}

tr.timing-row-better {
    background-color: lime;
}
